*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
  height: auto;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.components__container > * {
  margin-bottom: 3.125rem;
}
.components__container > *:last-child {
  margin-bottom: 0rem;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-size: 1.75rem;
  color: #000;
}
.play-icon::before {
  content: "";
  background-color: #fff;
  border-radius: 50%;
  width: 5rem;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  position: relative;
  font-size: 1.125rem;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding-block: 1.25rem;
  border-radius: 2.5rem;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40%;
  translate: -110% 0;
  width: 150%;
  height: 150%;
  background-color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.2;
  pointer-events: none;
}
.button--member {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (min-width: 75em) {
  .button--member {
    padding-inline: 34px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .button--member {
    padding-inline: clamp( 20px , 14.9090909091px  +  1.5909090909vw , 34px );
  }
}
@media (max-width: 20em) {
  .button--member {
    padding-inline: 20px;
  }
}
.button--order {
  padding-inline: 3.125rem;
}
.button--small {
  font-weight: 600;
  padding-inline: 3.375rem;
}
@media (min-width: 75em) {
  .button--small {
    padding-inline: 54px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .button--small {
    padding-inline: clamp( 47px , 44.4545454545px  +  0.7954545455vw , 54px );
  }
}
@media (max-width: 20em) {
  .button--small {
    padding-inline: 47px;
  }
}
.button--subscribe {
  background-color: #000;
  color: #fff;
  padding-inline: 3.375rem;
}
.button--subscribe::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40%;
  translate: -110% 0;
  width: 100%;
  height: 150%;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.2;
  pointer-events: none;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .button:hover::before {
    translate: 0 0;
  }
}

.icon-menu {
  position: relative;
  width: 1.875rem;
  height: 1.25rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 5;
}
.icon-menu::before, .icon-menu::after {
  content: "";
  position: absolute;
  left: 0;
  height: 0.1875rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.375rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.icon-menu::before {
  top: 0;
}
.icon-menu::after {
  bottom: 0;
}
.icon-menu span {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  right: 0;
  width: 70%;
  height: 0.1875rem;
  background-color: #fff;
  border-radius: 0.375rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (min-width: 57.25em) {
  .icon-menu {
    display: none;
  }
}

.menu-open .icon-menu::before {
  top: 45%;
  translate: 0 -50%;
  rotate: -45deg;
}
.menu-open .icon-menu:after {
  bottom: 41%;
  translate: 0 -50%;
  rotate: 45deg;
}
.menu-open .icon-menu span {
  width: 0;
}

.block-header--hero {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.block-header--margin {
  margin-bottom: 4.375rem;
}
.block-header--centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.block-header__title {
  margin-bottom: 1rem;
}
.block-header__text {
  font-size: clamp(1rem, 5vw, 1.25rem);
}

.title {
  font-size: clamp(1.625rem, 5vw, 3.125rem);
  font-weight: 600;
  line-height: 1.4;
}
.title--hero {
  font-size: clamp(1.75rem, 5vw, 4.125rem);
  font-weight: 900;
}
.title--weight {
  font-weight: 700;
}
.title--smaller {
  font-size: 2.75rem;
}
.title--black {
  font-size: clamp(1.875rem, 5vw, 4.375rem);
  font-weight: 700;
  color: #000;
}

.item-product {
  background-color: #191919;
  -webkit-box-shadow: 0 0 250px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 250px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.75rem;
}
.item-product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.item-product__image {
  aspect-ratio: 280/270;
  padding-inline: 1.25rem;
  overflow: hidden;
  -webkit-transition: scale 0.4s;
  transition: scale 0.4s;
  will-change: scale;
  min-width: 100%;
}
.item-product__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .item-product__image:hover {
    scale: 1.05;
  }
}
.item-product__content {
  padding: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 100%;
}
.item-product__title {
  font-size: 1.5rem;
  font-weight: 700;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .item-product__title:hover {
    -webkit-filter: brightness(80%);
            filter: brightness(80%);
  }
}
.item-product__text {
  line-height: 1.6;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 100%;
}
.item-product__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.item-product__price {
  font-size: 1.5rem;
  font-weight: 700;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.item-product__button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  border-radius: 50%;
  border: 0.0625rem solid #fff;
  width: 2.5rem;
  aspect-ratio: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item-product__button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: url("../img/icons/shopping-cart.svg") 0 0/100% no-repeat;
  width: 1.25rem;
  aspect-ratio: 1;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .item-product__button:hover {
    background-color: transparent;
    opacity: 0.5;
  }
}

.rating__items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.1875rem;
}
.rating__item {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 0.625rem;
  aspect-ratio: 1;
  background: url("../img/icons/star-active.svg") 0 0/100% no-repeat;
}

.item-review {
  background-color: #191919;
  border-radius: 1rem;
}
.item-review__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  padding: 1.875rem;
}
.item-review__inner > * {
  margin-bottom: 1.25rem;
}
.item-review__inner > *:last-child {
  margin-bottom: 0rem;
}
.top-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  min-height: 100%;
}
.top-review__avatar {
  width: 4.625rem;
  aspect-ratio: 1;
}
.top-review__avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.top-review__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.top-review__title {
  font-size: 1.125rem;
}
.top-review__label {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  color: #EEE;
  opacity: 0.7;
}
.body-review {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 100%;
}
.body-review__content > * {
  margin-bottom: 1.875rem;
}
.body-review__content > *:last-child {
  margin-bottom: 0rem;
}
.body-review__quotes {
  position: relative;
  display: inline-block;
}
.body-review__quotes::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 13.375rem;
  height: 0.0625rem;
  background-color: rgba(255, 255, 255, 0.2);
}
.body-review__text {
  color: #EEE;
  font-size: 1.125rem;
  font-weight: 500;
  opacity: 0.7;
}

.form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 45.625rem;
}
@media (max-width: 48.25em) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
.form__input {
  color: #000;
  background-color: #fff;
  border: 0.0625rem solid #000;
  padding-block: 1.25rem;
  -webkit-padding-start: 1.875rem;
          padding-inline-start: 1.875rem;
  border-radius: 2.5rem;
  height: 4.25rem;
  width: 100%;
}
.form__input::-webkit-input-placeholder {
  font-size: 1.125rem;
  font-weight: 600;
  color: #000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.form__input::-moz-placeholder {
  font-size: 1.125rem;
  font-weight: 600;
  color: #000;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.form__input:-ms-input-placeholder {
  font-size: 1.125rem;
  font-weight: 600;
  color: #000;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.form__input::-ms-input-placeholder {
  font-size: 1.125rem;
  font-weight: 600;
  color: #000;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.form__input::placeholder {
  font-size: 1.125rem;
  font-weight: 600;
  color: #000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.form__input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.form__input:focus::-moz-placeholder {
  opacity: 0;
}
.form__input:focus:-ms-input-placeholder {
  opacity: 0;
}
.form__input:focus::-ms-input-placeholder {
  opacity: 0;
}
.form__input:focus::placeholder {
  opacity: 0;
}
.header {
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 60;
}
.header__container {
  padding-block: 0.875rem;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 57.1875em) {
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 57.25em) {
  .header__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 57.1875em) {
  .menu-header {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #fff;
    overflow: auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 3;
    padding: 14.375rem 0.9375rem 1.875rem 0.9375rem;
  }
  .menu-header::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 12.8125rem;
    background-color: #0D0D0D;
    z-index: 3;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu-open .menu-header::before {
    left: 0;
  }
  .menu-open .menu-header {
    left: 0;
  }
}
.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 75em) {
  .menu-header__list {
    -webkit-column-gap: 42px;
       -moz-column-gap: 42px;
            column-gap: 42px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .menu-header__list {
    -webkit-column-gap: clamp( 20px , 12px  +  2.5vw , 42px );
       -moz-column-gap: clamp( 20px , 12px  +  2.5vw , 42px );
            column-gap: clamp( 20px , 12px  +  2.5vw , 42px );
  }
}
@media (max-width: 20em) {
  .menu-header__list {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 57.1875em) {
  .menu-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #000;
    gap: 1.875rem;
  }
}
.menu-header__item {
  font-size: 1.125rem;
  font-weight: 500;
}
.menu-header__link {
  position: relative;
}
.menu-header__link::after {
  content: "";
  width: 0;
  height: 0.125rem;
  background-color: #fff;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  position: absolute;
  left: 0;
  bottom: 0;
}
@media (max-width: 57.1875em) {
  .menu-header__link {
    font-size: 2.5rem;
  }
}
@media (any-hover: hover) and (any-pointer: fine) {
  .menu-header__link:hover::after {
    width: 100%;
  }
}
.menu-header__logo {
  width: 6.25rem;
  aspect-ratio: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: scale 0.3s;
  transition: scale 0.3s;
  will-change: scale;
  z-index: 5;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .menu-header__logo:hover {
    scale: 1.05;
  }
}
.buttons-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 75em) {
  .buttons-menu {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .buttons-menu {
    -webkit-column-gap: clamp( 10px , 2.7272727273px  +  2.2727272727vw , 30px );
       -moz-column-gap: clamp( 10px , 2.7272727273px  +  2.2727272727vw , 30px );
            column-gap: clamp( 10px , 2.7272727273px  +  2.2727272727vw , 30px );
  }
}
@media (max-width: 20em) {
  .buttons-menu {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
.buttons-menu__cart {
  position: relative;
  -webkit-transition: scale 0.3s;
  transition: scale 0.3s;
  will-change: scale;
  z-index: 5;
}
.buttons-menu__cart span {
  font-size: 0.625rem;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  width: 0.9375rem;
  aspect-ratio: 1;
  background-color: #FF0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .buttons-menu__cart:hover {
    scale: 1.05;
  }
}
.buttons-menu__search {
  -webkit-transition: scale 0.3s;
  transition: scale 0.3s;
  will-change: scale;
  z-index: 5;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .buttons-menu__search:hover {
    scale: 1.05;
  }
}
.buttons-menu__button {
  z-index: 5;
}
@media (max-width: 23.4375em) {
  .buttons-menu__button {
    display: none;
  }
}
@media (max-width: 57.1875em) {
  .buttons-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .buttons-menu .buttons-menu__button {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 29.6875em) {
  .buttons-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.button-cart__icon {
  width: 2.125rem;
  aspect-ratio: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.button-search__icon {
  width: 2.125rem;
  aspect-ratio: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer {
  background-color: #191919;
}
@media (min-width: 75em) {
  .footer {
    padding-block: 80px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .footer {
    padding-block: clamp( 20px , -1.8181818182px  +  6.8181818182vw , 80px );
  }
}
@media (max-width: 20em) {
  .footer {
    padding-block: 20px;
  }
}
@media (min-width: 75em) {
  .footer__body {
    margin-bottom: 100px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .footer__body {
    margin-bottom: clamp( 30px , 4.5454545455px  +  7.9545454545vw , 100px );
  }
}
@media (max-width: 20em) {
  .footer__body {
    margin-bottom: 30px;
  }
}
.body-footer__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(12.5rem, 100%), 1fr));
  row-gap: 3.75rem;
}
@media (min-width: 75em) {
  .body-footer__content {
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .body-footer__content {
    -webkit-column-gap: clamp( 20px , -9.0909090909px  +  9.0909090909vw , 100px );
       -moz-column-gap: clamp( 20px , -9.0909090909px  +  9.0909090909vw , 100px );
            column-gap: clamp( 20px , -9.0909090909px  +  9.0909090909vw , 100px );
  }
}
@media (max-width: 20em) {
  .body-footer__content {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}

.column-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.column-content__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 1.875rem;
}
.column-content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}
.column-content__item {
  font-size: 1.125rem;
}
.column-content__link {
  position: relative;
}
.column-content__link::after {
  content: "";
  width: 0;
  height: 0.125rem;
  translate: -50% 0;
  background-color: #fff;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  position: absolute;
  left: 50%;
  bottom: 0;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .column-content__link:hover::after {
    width: 100%;
  }
}

.payment__express {
  -webkit-transition: scale 0.5s;
  transition: scale 0.5s;
  will-change: scale;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .payment__express:hover {
    scale: 1.05;
  }
}

.cards-payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  margin-bottom: 1.875rem;
}
.cards-payment__mastercard, .cards-payment__visa {
  -webkit-transition: scale 0.5s;
  transition: scale 0.5s;
  will-change: scale;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .cards-payment__mastercard:hover, .cards-payment__visa:hover {
    scale: 1.06;
  }
}
.bottom-footer {
  border-top: 0.0625rem solid #4F4F4F;
}
.bottom-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
  padding-top: 1.75rem;
}
@media (min-width: 75em) {
  .bottom-footer__body {
    row-gap: 30px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .bottom-footer__body {
    row-gap: clamp( 15px , 9.5454545455px  +  1.7045454545vw , 30px );
  }
}
@media (max-width: 20em) {
  .bottom-footer__body {
    row-gap: 15px;
  }
}
.bottom-footer__copyright {
  font-size: 1.125rem;
}
@media (max-width: 32.9375em) {
  .bottom-footer .bottom-footer__social {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bottom-footer .bottom-footer__copyright {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
  }
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}
.social-media__icon {
  width: 1.875rem;
  aspect-ratio: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  fill: #fff;
  -webkit-transition: scale 0.4s, fill 0.3s;
  transition: scale 0.4s, fill 0.3s;
  will-change: scale;
}
.social-media__icon--linkledln {
  position: relative;
}
.social-media__icon--linkledln::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: #fff;
  width: 1.875rem;
  aspect-ratio: 1;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .social-media__icon:hover {
    scale: 1.05;
    fill: #EEE;
  }
}

.page__hero {
  padding-top: 12.5rem;
}
@media (min-width: 75em) {
  .page__hero {
    padding-bottom: 246px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .page__hero {
    padding-bottom: clamp( 50px , -21.2727272727px  +  22.2727272727vw , 246px );
  }
}
@media (max-width: 20em) {
  .page__hero {
    padding-bottom: 50px;
  }
}
@media (min-width: 75em) {
  .page__advantages {
    padding-block: 75px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .page__advantages {
    padding-block: clamp( 45px , 34.0909090909px  +  3.4090909091vw , 75px );
  }
}
@media (max-width: 20em) {
  .page__advantages {
    padding-block: 45px;
  }
}
@media (min-width: 75em) {
  .page__menu {
    padding-block: 75px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .page__menu {
    padding-block: clamp( 45px , 34.0909090909px  +  3.4090909091vw , 75px );
  }
}
@media (max-width: 20em) {
  .page__menu {
    padding-block: 45px;
  }
}
@media (min-width: 75em) {
  .page__quality {
    padding-block: 75px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .page__quality {
    padding-block: clamp( 45px , 34.0909090909px  +  3.4090909091vw , 75px );
  }
}
@media (max-width: 20em) {
  .page__quality {
    padding-block: 45px;
  }
}
@media (min-width: 75em) {
  .page__franchise {
    padding-block: 75px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .page__franchise {
    padding-block: clamp( 45px , 34.0909090909px  +  3.4090909091vw , 75px );
  }
}
@media (max-width: 20em) {
  .page__franchise {
    padding-block: 45px;
  }
}
@media (min-width: 75em) {
  .page__support {
    padding-block: 75px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .page__support {
    padding-block: clamp( 45px , 34.0909090909px  +  3.4090909091vw , 75px );
  }
}
@media (max-width: 20em) {
  .page__support {
    padding-block: 45px;
  }
}
@media (min-width: 75em) {
  .page__location {
    padding-block: 75px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .page__location {
    padding-block: clamp( 45px , 34.0909090909px  +  3.4090909091vw , 75px );
  }
}
@media (max-width: 20em) {
  .page__location {
    padding-block: 45px;
  }
}
@media (min-width: 75em) {
  .page__reviews {
    padding-block: 75px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .page__reviews {
    padding-block: clamp( 45px , 34.0909090909px  +  3.4090909091vw , 75px );
  }
}
@media (max-width: 20em) {
  .page__reviews {
    padding-block: 45px;
  }
}

.hero {
  background: url("../img/hero/hero-image.webp") center/cover no-repeat;
  width: 100%;
  height: 100%;
}
.hero__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero__header {
  max-width: 40.625rem;
  margin-bottom: 2.5rem;
}
.hero__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
@media (max-width: 36.25em) {
  .hero__button {
    width: 100%;
  }
}

.advantages {
  background-color: #0D0D0D;
}
.advantages__inner .block-header__text {
  max-width: 51.25rem;
}
@media (min-width: 75em) {
  .advantages__header {
    margin-bottom: 70px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .advantages__header {
    margin-bottom: clamp( 20px , 1.8181818182px  +  5.6818181818vw , 70px );
  }
}
@media (max-width: 20em) {
  .advantages__header {
    margin-bottom: 20px;
  }
}
.advantages__body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(31.25rem, 100%), 1fr));
  row-gap: 1.875rem;
}
@media (min-width: 75em) {
  .advantages__body {
    -webkit-column-gap: 87px;
       -moz-column-gap: 87px;
            column-gap: 87px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .advantages__body {
    -webkit-column-gap: clamp( 30px , 9.2727272727px  +  6.4772727273vw , 87px );
       -moz-column-gap: clamp( 30px , 9.2727272727px  +  6.4772727273vw , 87px );
            column-gap: clamp( 30px , 9.2727272727px  +  6.4772727273vw , 87px );
  }
}
@media (max-width: 20em) {
  .advantages__body {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
.advantages__text {
  color: #EEE;
  font-size: 1.125rem;
}
.advantages__image {
  aspect-ratio: 763/569;
  background-color: #0D0D0D;
  position: relative;
}
.advantages__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.75rem;
}

.menu {
  background-color: #0D0D0D;
}
.menu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 75em) {
  .menu__inner {
    row-gap: 80px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .menu__inner {
    row-gap: clamp( 40px , 25.4545454545px  +  4.5454545455vw , 80px );
  }
}
@media (max-width: 20em) {
  .menu__inner {
    row-gap: 40px;
  }
}
.menu__button {
  margin: 0 auto;
}
@media (max-width: 47.0625em) {
  .menu__button {
    width: 100%;
  }
}

.top-menu__title {
  text-align: center;
}
@media (min-width: 75em) {
  .top-menu__title {
    margin-bottom: 40px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .top-menu__title {
    margin-bottom: clamp( 10px , -0.9090909091px  +  3.4090909091vw , 40px );
  }
}
@media (max-width: 20em) {
  .top-menu__title {
    margin-bottom: 10px;
  }
}
.top-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: auto;
}
@media (min-width: 75em) {
  .top-menu__list {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .top-menu__list {
    -webkit-column-gap: clamp( 15px , 9.5454545455px  +  1.7045454545vw , 30px );
       -moz-column-gap: clamp( 15px , 9.5454545455px  +  1.7045454545vw , 30px );
            column-gap: clamp( 15px , 9.5454545455px  +  1.7045454545vw , 30px );
  }
}
@media (max-width: 20em) {
  .top-menu__list {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
.top-menu__item {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.top-menu__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 0.25rem solid #fff;
  border-radius: 0.625rem;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .top-menu__item:hover::after {
    opacity: 1;
  }
}
.top-menu__link {
  font-size: 1.125rem;
}
.top-menu__link:first-child {
  padding-inline: 1.25rem;
}

.body-menu__products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(21.875rem, 100%), 1fr));
}
@media (min-width: 75em) {
  .body-menu__products {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .body-menu__products {
    -webkit-column-gap: clamp( 15px , 9.5454545455px  +  1.7045454545vw , 30px );
       -moz-column-gap: clamp( 15px , 9.5454545455px  +  1.7045454545vw , 30px );
            column-gap: clamp( 15px , 9.5454545455px  +  1.7045454545vw , 30px );
  }
}
@media (max-width: 20em) {
  .body-menu__products {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
@media (min-width: 75em) {
  .body-menu__products {
    row-gap: 40px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .body-menu__products {
    row-gap: clamp( 20px , 12.7272727273px  +  2.2727272727vw , 40px );
  }
}
@media (max-width: 20em) {
  .body-menu__products {
    row-gap: 20px;
  }
}
.quality-food {
  background-color: #0D0D0D;
}
@media (min-width: 75em) {
  .quality-food__inner {
    padding-block: 30px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .quality-food__inner {
    padding-block: clamp( 10px , 2.7272727273px  +  2.2727272727vw , 30px );
  }
}
@media (max-width: 20em) {
  .quality-food__inner {
    padding-block: 10px;
  }
}
.quality-food__title {
  text-align: center;
}
@media (min-width: 75em) {
  .quality-food__title {
    margin-bottom: 60px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .quality-food__title {
    margin-bottom: clamp( 40px , 32.7272727273px  +  2.2727272727vw , 60px );
  }
}
@media (max-width: 20em) {
  .quality-food__title {
    margin-bottom: 40px;
  }
}
.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.875rem;
}
@media (min-width: 75em) {
  .advantages-list {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .advantages-list {
    -webkit-column-gap: clamp( 15px , 9.5454545455px  +  1.7045454545vw , 30px );
       -moz-column-gap: clamp( 15px , 9.5454545455px  +  1.7045454545vw , 30px );
            column-gap: clamp( 15px , 9.5454545455px  +  1.7045454545vw , 30px );
  }
}
@media (max-width: 20em) {
  .advantages-list {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
.advantages-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
}
.advantages-list__title {
  font-size: clamp(2.875rem, 5vw, 3.5rem);
  font-weight: 700;
  line-height: 1.2;
  -ms-flex-item-align: center;
      align-self: center;
}
.advantages-list__text {
  font-size: clamp(0.875rem, 3vw, 1.125rem);
}
@media (max-width: 24.1875em) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.franchise {
  background-color: #0D0D0D;
}
.franchise__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 75em) {
  .franchise__body {
    row-gap: 60px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .franchise__body {
    row-gap: clamp( 30px , 19.0909090909px  +  3.4090909091vw , 60px );
  }
}
@media (max-width: 20em) {
  .franchise__body {
    row-gap: 30px;
  }
}
.franchise__title {
  margin-bottom: 1.25rem;
}
.franchise__button {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.reviews {
  background-color: #0D0D0D;
}
@media (min-width: 75em) {
  .reviews__header {
    margin-bottom: 70px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .reviews__header {
    margin-bottom: clamp( 30px , 15.4545454545px  +  4.5454545455vw , 70px );
  }
}
@media (max-width: 20em) {
  .reviews__header {
    margin-bottom: 30px;
  }
}
.reviews__title {
  margin-bottom: 0rem;
  line-height: 1.8;
}
.support__body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 75em) {
  .support__body {
    row-gap: 50px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .support__body {
    row-gap: clamp( 25px , 15.9090909091px  +  2.8409090909vw , 50px );
  }
}
@media (max-width: 20em) {
  .support__body {
    row-gap: 25px;
  }
}
.support__title {
  text-align: center;
}
@media (min-width: 75em) {
  .support__title {
    margin-bottom: 50px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .support__title {
    margin-bottom: clamp( 30px , 22.7272727273px  +  2.2727272727vw , 50px );
  }
}
@media (max-width: 20em) {
  .support__title {
    margin-bottom: 30px;
  }
}
.location {
  background-color: #0D0D0D;
}
.location__body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(28.125rem, 100%), 1fr));
}
@media (min-width: 75em) {
  .location__body {
    -webkit-column-gap: 135px;
       -moz-column-gap: 135px;
            column-gap: 135px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .location__body {
    -webkit-column-gap: clamp( 35px , -1.3636363636px  +  11.3636363636vw , 135px );
       -moz-column-gap: clamp( 35px , -1.3636363636px  +  11.3636363636vw , 135px );
            column-gap: clamp( 35px , -1.3636363636px  +  11.3636363636vw , 135px );
  }
}
@media (max-width: 20em) {
  .location__body {
    -webkit-column-gap: 35px;
       -moz-column-gap: 35px;
            column-gap: 35px;
  }
}
@media (min-width: 75em) {
  .location__body {
    row-gap: 80px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .location__body {
    row-gap: clamp( 60px , 52.7272727273px  +  2.2727272727vw , 80px );
  }
}
@media (max-width: 20em) {
  .location__body {
    row-gap: 60px;
  }
}
@media (min-width: 75em) {
  .location__header {
    margin-bottom: 70px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .location__header {
    margin-bottom: clamp( 30px , 15.4545454545px  +  4.5454545455vw , 70px );
  }
}
@media (max-width: 20em) {
  .location__header {
    margin-bottom: 30px;
  }
}
@media (min-width: 75em) {
  .location__button {
    padding-block: 20px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .location__button {
    padding-block: clamp( 17px , 15.9090909091px  +  0.3409090909vw , 20px );
  }
}
@media (max-width: 20em) {
  .location__button {
    padding-block: 17px;
  }
}
@media (min-width: 75em) {
  .location__button {
    padding-inline: 54px;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .location__button {
    padding-inline: clamp( 38px , 32.1818181818px  +  1.8181818182vw , 54px );
  }
}
@media (max-width: 20em) {
  .location__button {
    padding-inline: 38px;
  }
}
.location__map {
  aspect-ratio: 1;
}
.location__map iframe {
  border-radius: 1.5rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class*="--icon-"] {
  content: "";
  font-family: "iconfont";
  line-height: 1 !important;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="--icon-play-icon"]::before {
  content: "\e900";
}

[class*="--icon-card"]::before {
  content: "\e901";
}

[class*="--icon-discord"]::before {
  content: "\e902";
}

[class*="--icon-facebook"]::before {
  content: "\e903";
}

[class*="--icon-logo"]::before {
  content: "\e904";
}

[class*="--icon-quotes"]::before {
  content: "\e905";
}

[class*="--icon-search"]::before {
  content: "\e906";
}

[class*="--icon-linkeldn"]::before {
  content: "\e907";
}

[class*="--icon-twitter"]::before {
  content: "\e908";
}

[class*="--icon-star-active"]::before {
  content: "\e909";
}

[class*="--icon-star-inactive"]::before {
  content: "\e90b";
  color: #ccc;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  line-height: 1.5;
}
body.scroll-lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 75rem;
  padding-inline: 0.9375rem;
  margin: 0 auto;
}