@use "sass:math";
@use "_reset";
@use "_mixins" as *;
@use "_colors" as *;
@use "_components";
@use "_header";
@use "_footer";
@use "_home";
@use "_iconfont";


body {
   font-family: "Inter", sans-serif;
   @include typography("BODY", 400, 0);
   color: $white;
   line-height: 1.5;

   &.scroll-lock {
         overflow: hidden;
         touch-action: none;
         overscroll-behavior: none;
      }
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;

   >main {
      flex-grow: 1;
   }
}

[class*="__container"] {
   max-width: toRem($containerWidth);
   padding-inline: toRem(math.div($containerPadding, 2));
   margin: 0 auto;
}

